.todo {
    height: 100vh;
}

.todo-app{
    height: 100vh;
}
.categoryTag {
  
    cursor:pointer;
    
  
 }
 
 .categoryTag::after {
   content: ' x';
   font-size: 20px;
   color: blue;
   
 }

 .strikethrough {
    text-decoration: line-through;
}